django==4.2.6
celery
gunicorn
uvicorn
redis
flower
django_extensions
pillow
geopy
djangorestframework
coreapi
psycopg2
Faker
django-rest-auth
django-cors-headers
debugpy
django-braces
haversine
pytest-django
django_filter
django-redis
django-debug-toolbar
pytz
setuptools
wheel
pyjwt
aiohttp
asyncio